.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

#profile {
    width: 150px;
    height: 150px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
}

.profile span {
    color: #00b7ff;
}

.modify {
    width: 100px;
    height: 30px;
    color: #ffffff;
	background-color:#00b7ff;
    border-radius: 10px;
}

h3 {
    margin-top: 100px;
    color: #00b7ff;
}